<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles.css">
    <script src="../public/js.js"></script>
    <title>Edit Item</title>
</head>
<body>
<div>
<p><input id="editname" type="text" name="" placeholder="Enter the name" value="<%= name %>"></p>
<p><input id="editinfo" type="text" name="" placeholder="Enter the info" value="<%= info %>"></p>
 <a class="add_button" class="btn btn-success" onclick="changeItem(<%= id %>)" href="/">Apply</a>
 </div>

</body>
</html>