.button{padding: 11px 18px; background-color: orange; border-radius: 6px; text-decoration: none; color: white; text-transform: uppercase;cursor: pointer;}
.inputs{margin-bottom: 20px;}
input{ height: 30px;font-size: 20px; }