
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>ToDo List (Task2)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   
    <script>
        // Добавьте AngularJS контроллер
//### Задача 1
//Откройте файл Task/Task.html.Вам необходимо разработать приложение “To do List”. Приложение должно отображать пользователю таблицу с задачами и предоставлять возможность добавлять новые задачи. Приложение должно быть построено по шаблону, который находится в папке Task в файле template.png
        angular.module("firstApp", [])
            .controller("firstCtrl", function($scope) {

                $scope.items = [{
                        name: 'Купить молоко',
                        description: 'Сходить на рынок и купить молоко',
                        date: '2/18/2015',
                        completed: false
                    },
                    {
                        name: 'Посмотреть видео урок по AngularJS',
                        description: 'Досмотреть до конца урок на itvdn.com',
                        date: '2/18/2015',
                        completed: false
                    }
                ];

                $scope.add = function() {
                    if($scope.todoName==undefined|| $scope.todoDate==undefined|| $scope.todoDescription==undefined){ alert("Введите информацию во все необходимые поля")}
                    else{
                    $scope.items.push({
                        name: $scope.todoName,
                        description: $scope.todoDescription,
                        date: $scope.todoDate,
                        completed: $scope.todoCompleted
                    });
                    $scope.todoName = undefined;
                    $scope.todoDate = undefined;
                    $scope.todoDescription = undefined;
                    $scope.todoCompleted = false;}
                };



            });
    </script>

</head>

<body ng-app="firstApp" ng-controller="firstCtrl">

    <div class="container">

        <h3>ToDo List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tr>
                <tr ng-repeat="item in items" ">
                <td> {{ item.name }}</td>
                <td> {{ item.description }}</td>
                <td> {{ item.date }}</td>
                <td> <input type="checkbox" ng-model="item.completed"></td>
            </tr>
            </tr>
        </table>

<div>
            <!-- Форма для добавления новых задач -->
  <form class="form">
    <label>Name</label>
    <div><input type="text"  ng-model="todoName"></div>
    <br>
    <label>Due Date</label>
    <div><input type="text" ng-model="todoDate"></div>
    <br>
    <label>Description</label>
    <div><textarea ng-model="todoDescription" ></textarea></div>
    <br>
    <label>
    <div><input type="checkbox" ng-model="todoCompleted"> Completed</div>
    </label>
    <br>
    <div><button type="submit" ng-click="add()">Add</button></div>
  </form>
</div>
</div>
</body>
</html>